.block {
    margin: 10px;
    display: flex;
    justify-content: center;
    flex-direction: row;
  }
  
  @media screen and (max-width: 1000px) {
    .block {
        flex-direction: column;
    }
  }