:root {
    --main: #483285;
}

.assign {
    margin: 10px;
    color: var(--main);
}

.assign .form{
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.assign .form label {
    margin: 10px;
}

.assign .form input {
    height: 30px;
    text-align: center;
}

.assign .submit {
    margin: 10px auto;
    width: 20%;
    border-radius: 10px;
    color: var(--main);
    font-size: 1.4rem;
    border-color: var(--main);
    background-color: aliceblue;
}

